/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000;
  color: #fff;
}

p {
  font-size: 18px;
}

.button-gradient {
  background-image: linear-gradient(90deg, #23a6d5, #a539ff, #e73c7e);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.purple {
  color: #a539ff;
}

/* .scroll-container {
  max-width: 75%;
} */

.sections {
  min-height: 70vmin;
}

@media (max-width: 767.98px) {
  .sections {
    min-height: fit-content;
  }
 }

.sec1 {
  background: url("../stock_photo/woman/AdobeStock_189834949.jpeg") no-repeat center center fixed;
  -webkit-background-size: 100vmin;
  -moz-background-size: 100vmin;
  -o-background-size: 100vmin;
  background-size: 100vmin;
}

.sec2 {
  background: url("../stock_photo/nag/angry_roomate.jpeg") no-repeat center center fixed;
  -webkit-background-size: 100vmin;
  -moz-background-size: 100vmin;
  -o-background-size: 100vmin;
  background-size: 100vmin;
}

.sec3 {
  background: url("../stock_photo/family/tired_couple.jpeg") no-repeat center center fixed;
  -webkit-background-size: 100vmin;
  -moz-background-size: 100vmin;
  -o-background-size: 100vmin;
  background-size: 100vmin;
}

.sec-target {
  background: url(../stock_photo/woman/archer3.jpeg) no-repeat center;
  background-size: 100% auto;
}

.sec-target::before {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* .carousel {
  margin-bottom: 4rem;
} */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
height: 32rem;
}
.carousel-item > img {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
height: 32rem;
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

#chorehorse-container {
  max-width: 50vw;
}

@media (max-width: 767.98px) {
  #chorehorse-container {
    max-width: 70vw;
 }
